body {
    font-family: "Helvetica";
    background-color: #FFFFFF;
}

h1 {
    text-align: center;
    color: #3e6990;
}

img {
    max-width: 500pt;
    margin: 0 auto;
    display: block;
    border-radius: 10px;
    border: 3px solid #3e6990;
}